@media (max-width: $break-md) {
  .hero__inner { grid-template-columns: 1fr; }
  .product__body { grid-template-columns: 1fr; }
}

@media (max-width: $break-sm) {
  .nav__toggle { display: inline-block; }
  .nav__list { display: none; position: absolute; right: 1rem; top: 64px; background: #fff; border: 1px solid #e5e7eb; border-radius: .75rem; padding: .5rem; box-shadow: var(--shadow);
    &.is-open { display: grid; }
  }
}
